<form id="loginForm" enctype="multipart/form-data">
    <label for="loginName">username</label>
    <input name="username" id="loginName">
    <input type="submit" value="login">
</form>
<script src="home/login.js"></script>